.container{
<<<<<<< HEAD
    display:flex;        
=======
    display:flex; 
    min-height: 100vh;       
>>>>>>> c43f0f1f4cdca6ced2a1a0676cc0796743d36ebe
}
.menu{
    flex:1;
    background-color: var(--bgSoft);
    padding: 20px;
}
.content{
    flex:4;
    padding: 20px;
}
.wrapper{
    display:flex;
    gap: 20px;
    margin-top: 20px;
}
.main{
    flex:3;
    display:flex;
    flex-direction: column;
    gap:20px;
}
.cards{
    display:flex;
    gap:20px;
    justify-content: space-between;
}
.side{
    flex:1;
    display:flex;
}